spring:
  datasource:
    url: mysql://${{ MYSQLUSER }}:${{ MYSQLPASSWORD }}@${{ MYSQLHOST }}:${{ MYSQLPORT }}/${{ MYSQLDATABASE }}
    username: ${{ MYSQLUSER }}
    password: ${{ MYSQLPASSWORD }}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: never

minio:
  user: admin
  password: admin1234
  url: http://localhost:9000

frontend-url: "https://frontend-production-47b5.up.railway.app"